# Configuração de Banco de Dados PostgreSQL
DATABASE_URL="postgresql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>?schema=public"

# Configurações do Firebase Client SDK (para Firebase Authentication)
NEXT_PUBLIC_FIREBASE_API_KEY="SUA_API_KEY_AQUI"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="SEU_PROJECT_ID.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="SEU_PROJECT_ID"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="SEU_PROJECT_ID.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGINGSENDER="SEU_MESSAGING_SENDER_ID"
NEXT_PUBLIC_FIREBASE_APP_ID="1:SEU_MESSAGING_SENDER_ID:web:SUA_APP_ID"
NEXT_PUBLIC_FIPE_API_KEY="SUA_API_KEY"